<mat-toolbar class="custom-toolbar">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Market Restaurant</span>
  <span class="example-spacer"></span>

  <div id="cart-icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <circle cx="9" cy="21" r="1"></circle>
      <circle cx="20" cy="21" r="1"></circle>
      <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
    </svg>
    <span id="cart-count">0</span>
  </div>
</mat-toolbar>


<router-outlet></router-outlet>
<!-- Com o router-outlet digo ao angular onde quero renderizar meu modulo/componente
Como essa renderização ocorre? No arquivo app.routes.ts, defini que quando for path '', será redirecionado para o módulo cardapio, que por sua vez, no arquivo cardapio-routing
.module.ts redireciona para ProdutosComponent, o que faz aparecer o conteudo de produtos
-->
